*{

  margin: 0;
}


h1#titulo{


  text-align: center;
}


h1#testeh1:hover{


  color:#00FF00;
}



div#header{
  background-color: #FF6A3B;
  position:absolute;
  height: 10%;
  width:100%;
  top:0px;
  left:0px;

}

div#content{

  background-color: #B22F06;
  position:absolute;
  height: 90%;
  width:100%;
  top:10%;
}

div#divLista{
  background-color: #FFFFFF;
  position:absolute;
  top:10%;
  left:35%;
  width:35%;
  height:75%;
  border-radius: 500px;
  border: 1px solid #3BFFCD;
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
  box-shadow: 5px 10px 5px #FF6A3B;


}

ul li{
  display: block;
  border: 1px solid;
  margin-left: 10%;
  margin-right: 17%;
  margin-bottom: 10px;
}

ul li a{
  color:black;
}
